#################################################################################
# Copyright (c) 2023,2024 T-Systems International GmbH
# Copyright (c) 2023,2024 Contributors to the Eclipse Foundation
# Copyright (c) 2025 ARENA2036 e.V.
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################
# backend for SDE
replicaCount: 1

sdepostgresql:
  # -- PostgreSQL chart configuration
  # Switch to enable or disable the PostgreSQL helm chart
  image:
    repository: "bitnamilegacy/postgresql"
  enabled: true
  fullnameOverride: "product-sde-postgres"
  auth:
    postgresPassword: ""
    username: "sdeuser"
    password: "password"
    database: "sdedb"
    port: 5432
    existingSecret: ""

backend:
  image:
    repository: tractusx/managed-simple-data-exchanger-backend
    pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  imagePullSecrets: []

  nameOverride: ""

  fullnameOverride: ""
  portContainer: 8080

  podAnnotations: {}

  podSecurityContext: {}

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    runAsUser: 1001

  service:
    type: ClusterIP
    port: 7070
    targetPort: 8080

  backend:
    endpoints:
    ## Default api exposing health checks etc
      default:
    # -- The network port, which the "default" api is going to be exposed by the container, pod and service
        port: 7070
    # -- The path mapping the "default" api is going to be exposed at
        path: /
      # api:
      #   port: "8080"
      #   path: /api
  ingresses:
    - enabled: true
      className: ""
      annotations:
        cert-manager.io/cluster-issuer:
        # kubernetes.io/ingress.class:
        nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
        nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS"
        nginx.ingress.kubernetes.io/cors-allow-origin: "https://*tx.test"
        nginx.ingress.kubernetes.io/enable-cors: "true"
      hostname: "sde-backend.tx.test"
      endpoints:
        - default
      tls:
        enabled: true
        # secretName: "sde-backend.test-tls"
      # -- If present overwrites the default secret name
      # certManager:
      #   # -- If preset enables certificate generation via cert-manager namespace scoped issuer
      #   issuer: "letsencrypt-prod"
      #   # -- If preset enables certificate generation via cert-manager cluster-wide issuer
      #   clusterIssuer: "letsencrypt-prod"
      hosts:
        - sde-backend.tx.test

  resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    limits:
      cpu: 600m
      memory: 2Gi
    requests:
      cpu: 600m
      memory: 2Gi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

  configuration:
    properties: |-
      keycloak.clientid=CX-SDE
      spring.security.oauth2.resourceserver.jwt.issuer-uri=default
      management.endpoint.health.probes.enabled=true
      management.health.readinessstate.enabled=true
      management.health.livenessstate.enabled=true
      management.endpoints.web.exposure.include=*
      spring.lifecycle.timeout-per-shutdown-phase=30s
      logging.level.org.springframework.security.web.csrf=DEBUG
      spring.servlet.multipart.enabled=true
      spring.main.allow-bean-definition-overriding=true
      spring.servlet.multipart.file-size-threshold=2KB
      spring.servlet.multipart.max-file-size=200MB
      spring.servlet.multipart.max-request-size=215MB
      server.servlet.context-path=/api
      spring.flyway.baseline-on-migrate=true
      spring.flyway.locations=classpath:/flyway
      spring.datasource.driver-class-name=org.postgresql.Driver
      spring.jpa.hibernate.ddl-auto=update
      spring.jpa.open-in-view=false
      file.upload-dir=./temp/
      logging.level.org.apache.http=debug
      logging.level.root=debug
      digital-twins.hostname=default
      digital-twins.authentication.url=default
      digital-twins.registry.uri=/api/v3
      digital-twins.registry.lookup.uri=/api/v3
      digital-twins.authentication.clientId=default
      digital-twins.authentication.clientSecret=default
      digital-twins.authentication.grantType=client_credentials
      edc.hostname=default
      edc.managementpath=/management
      edc.apiKeyHeader=X-Api-Key
      edc.apiKey=default
      edc.dsp.endpointpath=/api/v1/dsp
      edc.dataplane.endpointpath=/api/public
      edc.managementpath.apiversion=/v3
      edc.managementpath.apiversion.asset=/v3
      edc.consumer.hostname=default
      edc.consumer.apikeyheader=X-Api-Key
      edc.consumer.apikey=default
      edc.consumer.managementpath=/management
      edc.consumer.protocol.path=/api/v1/dsp
      dft.hostname=default
      dft.apiKeyHeader=default
      dft.apiKey=default
      manufacturerId=default
      partner.pool.hostname=default
      partner.pool.authentication.url=default
      partner.pool.clientId=default
      partner.pool.clientSecret=default
      partner.pool.grantType=client_credentials
      bpdm.provider.edc.dsp.api=default
      bpdm.provider.bpnl=default
      portal.backend.hostname=default
      portal.backend.authentication.url=default
      portal.backend.clientId=default
      portal.backend.clientSecret=default
      portal.backend.grantType=client_credentials
      bpndiscovery.hostname=default
      discovery.authentication.url=default
      discovery.clientId=sdefault
      discovery.clientSecret=default
      discovery.grantType=client_credentials
      springdoc.api-docs.path=/api-docs
      policy.hub.hostname=default
      policy.hub.authentication.url=default
      policy.hub.clientId=default
      policy.hub.clientSecret=default
      policy.hub.grantType=client_credentials
      management.endpoints.web.exposure.include=*
      management.endpoint.health.show-details=always
      management.metrics.export.prometheus.enabled=true
      management.endpoint.prometheus.enabled=true
      spring.sleuth.sampler.probability=1.0
      spring.zipkin.base-url=http://localhost:9411/
      spring.zipkin.sender.type=web
      spring.application.name=springboot-monitoring-SDE
      #bpdm.provider.edc.dataspace.api=default
      bpdm.provider.bpnl=default
      #bpdm.provider.edc.public.api=default

frontend:
  image:
    repository: tractusx/managed-simple-data-exchanger-frontend
    pullPolicy: Always
      # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  portContainer: 8080
  podAnnotations: {}

  podSecurityContext: {}

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    runAsUser: 101

  service:
    type: ClusterIP
    port: 80
    targetPort: 8080

  sde:
    endpoints:
        ## Default api exposing health checks etc
      default:
          # -- The network port, which the "default" api is going to be exposed by the container, pod and service
        port: "80"
          # -- The path mapping the "default" api is going to be exposed at
        path: /
  ingresses:
    - enabled: true
      className: ""
      annotations:
        cert-manager.io/cluster-issuer:
        # kubernetes.io/ingress.class:
        # kubernetes.io/ingress.class: addon-http-application-routing
        # nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
        # nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS"
        # nginx.ingress.kubernetes.io/cors-allow-origin: "*"
        # nginx.ingress.kubernetes.io/enable-cors: "true"
      hostname: "sde.tx.test"
      endpoints:
        - default

      tls:
        enabled: true
        # secretName: "sde-frontend.test-tls"
          # -- If present overwrites the default secret name
      # certManager:
      #   # -- If preset enables certificate generation via cert-manager namespace scoped issuer
      #   # issuer: "letsencrypt-prod"
      #     # -- If preset enables certificate generation via cert-manager cluster-wide issuer
      #   clusterIssuer: "letsencrypt-prod"
      hosts:
        - sde.tx.test

  resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    limits:
      cpu: 600m
      memory: 2Gi
    requests:
      cpu: 600m
      memory: 2Gi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

  env:
    - name: REACT_APP_API_URL
      value: https://sde-backend.tx.test/api
    - name: REACT_APP_KEYCLOAK_URL
      value: https://centralidp.tx.test/auth
    - name: REACT_APP_KEYCLOAK_REALM
      value: CX-Central
    - name: REACT_APP_CLIENT_ID
      value: CX-SDE
    - name: REACT_APP_FILESIZE
      value: "104857600"
    - name: REACT_APP_DEFAULT_COMPANY_BPN
      value: "<DEFAULT_BPN>"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
    # Annotations to add to the service account
  annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
  name: ""
